<div class="row">
  <form class="form-signin">
    <h2 class="form-signin-heading">Please sign in</h2>
    <div class="form-group" [class.has-danger]="emailInvalid">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input #email type="text" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    </div>
    <div class="form-group" [class.has-danger]="passwordInvalid">
      <label for="inputPassword" class="sr-only">Password</label>
      <input #password type="password" id="inputPassword"  class="form-control" placeholder="Password" required="">
    </div>
    <small class="form-text text-danger">{{error}}</small>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login(email, password)">Sign in</button>
  </form>
</div>
