<form class="form-inline bg-faded" [style.padding.px]="25">
  <div class="form-group" [class.has-success]="kind === 'C'" [class.has-danger]="kind === 'E'">
    <input
      type="file"
      class="form-control-file"
      #fileInput
      [class.form-control-success]="kind == 'C'"
      [class.form-control-danger]="kind == 'E'"
      (change)="markForChange()"
    >
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="comment" #commentInput placeholder="Comment...">
  </div>
  <button type="submit" (click)="onClick()" class="btn btn-primary" [class.disabled]="!getFile() || kind === 'N'">Upload file</button>
  <div class="form-control-feedback">
    <div *ngIf="kind === 'N'">
      <div class="text-xs-center" id="example-caption-1">Uploading&hellip; {{value * 100 | number:"1.0-0"}}%</div>
      <progress class="progress"  [attr.value]="value * 100" max="100">
      </progress>
    </div>
    <span *ngIf="kind === 'E'">Invalid file, failed to upload. {{value}}</span>
  </div>
</form>
